
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/COMP-345/v16/ipch/AutoPCH/df23ea2efbb1ceba/MAP.ipch
.vs/COMP-345/v16/ipch/AutoPCH/c6d87802bf245a04/MAPDRIVER.ipch
.vs/COMP-345/v16/ipch/AutoPCH/50ed717e092d0349/MAP.ipch
.vs/COMP-345/v16/Browse.VC.opendb
.vs/COMP-345/v16/Browse.VC.db
